@media (min-width: 770px)  {
    .m{display: none;}
    .pc{display: none;}
    .tab{display: block;}

    .banner .wrap{
        height: 650px;
        background-image: url(../images/Banner_tab.jpg);
    }
    .banner .wrap .phone1{position: absolute; top: -8%; right: 5%; z-index: 1;}
    .banner .wrap .phone1 img{width: 300px;}
    .banner .wrap .phone2{position: absolute; bottom: -8%; left: 5%; z-index: 1;}
    .banner .wrap .phone2 img{width: 300px;}

    .funtion{
        width: 100%;
        background-image: url(../images/Function_bg_pc.png);
        background-size: cover;
        background-position: center center;
        padding: 100px 0;
    }
    .funtion .wrap{
        width: 80%;
        margin: 0 auto;
        display: unset;
        background-image: unset;
        background-size: unset;
        background-position: unset;
    }
    .funtion .wrap .title h3{font-size: 60px;}
    .funtion .wrap .title p{font-size: 30px; font-weight: 100;}
    .funtion .wrap .con{display: flex; justify-content: center;}
    .funtion .wrap .con .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: unset;
        margin-bottom: unset;
        margin-right: 30px;
    }
    .funtion .wrap .con .box:last-child{margin-bottom: unset; margin-right: 0;}
    .funtion .wrap .con .box .text{font-family: "apple"; text-align: center;}
    .funtion .wrap .con .box .tit{font-size: 20px; margin-bottom: 5px;}
    .funtion .wrap .con .box .txt{font-size: 17px; color: #666;}

    .infor{}
    .infor .wrap{width: 100%; background-color: #fbf9f7;}
    .infor .wrap .box:nth-child(even){width: 100%; background-color: #f4f1ed;}
    .infor .wrap .box{width: 80%; margin: 0 auto; display: flex; justify-content: center; gap: 20px;}
    .infor .wrap .box .img{margin: unset;}
    .infor .wrap .box:nth-child(even){flex-direction: row-reverse;}
    .infor .wrap .box:nth-child(3) .img{width: 400px; margin: unset; padding-top: 50px;}
    .infor .wrap .box:nth-child(4) .img{padding-top: 50px; padding-bottom: 50px; margin: unset;}
    .infor .wrap .box .text{text-align: left; font-family: "apple"; padding: 50px 0; display: flex; flex-direction: column; justify-content: center;}
    .infor .wrap .box .text .tit{margin-bottom: 20px;}
    .infor .wrap .box .text .tit p{font-size: 20px; font-weight: 100; margin-bottom: 1;}
    .infor .wrap .box .text .tit h4{font-size: 25px;}
    .infor .wrap .box .keyword{white-space: nowrap; justify-content: left;}
    .infor .wrap .box .keyword .con{background-color: #666; font-weight: 100; padding: 7px 13px; color: white; border-radius: 99px;} 
    .infor .wrap .box .txt{font-size: 15px; line-height: 28px;}

    .review .wrap .container{
        display: flex;
        gap: 20px;
        width: 90%;
        margin: 0 auto;
    }
    .review .wrap .container .box{
        width: 80%;
        margin: 0 auto;
        margin-bottom: unset;
        background-color: #f4efeb;
        font-family: "apple";
        padding: 25px 18px 25px 18px;
        font-size: 16px;
    }
    .review .wrap .container .box .tit{font-size: 18px; margin-bottom: 10px; color: #986c58;}
    .review .wrap .container .box .content{margin-bottom: 30px; color: #3f3f3f; line-height: 25px;}
    .review .wrap .container .box .link{margin-bottom: 30px; color: #c5875d;}
    .review .wrap .container .box .link:hover{text-decoration: underline;}
    .review .wrap .container .box .user{font-size: 14px; color: #7c746e;}

    footer .wrap{width: 90%; font-size: 16px;}
    footer .wrap .first{flex-direction: unset; gap: 20px;}
    footer .wrap .first .customer{padding-bottom: 40px; order: unset;}
    footer .wrap .first .customer .tit{font-weight: bold; margin-bottom: 10px;}
    footer .wrap .first .customer .btn{}
    footer .wrap .first .customer .btn .box{color: #c5875d;}
    footer .wrap .first .customer .btn .box a{
        display: inline-block;
        padding: 10px 10px;
        border: 1px solid #c5875d;
        border-radius: 5px;
        margin-bottom: 15px;
    }
    footer .wrap .first .customer .notion{color: #83786f; line-height: 20px;}
    footer .wrap .first .customer .notion a{color: #c5875d; font-weight: bold;}
    footer .wrap .first .customer .notion a:hover{color: #83786f;}
    footer .wrap .first .all_menu{display: flex; gap: 40px; white-space: nowrap; justify-content: unset; order: unset; margin-left: auto;}
    footer .wrap .first .alarm{order: unset; margin-left: auto;}

    footer .wrap .third{display: flex; justify-content: space-between;}
    footer .wrap .third .copy{margin-bottom: unset; width: 60%;}
    footer .wrap .third .sns{display: flex; gap: 20px;}
    footer .wrap .third .sns .con{display: flex; align-items: center;}
    footer .wrap .third .sns .con img{width: 40px;}
        
    /*mobile 밑줄*/
    footer .wrap .first .customer{
        border-bottom: unset;
    }
    footer .wrap .first .alarm{
        padding: unset;
        border-bottom: unset;
    }
    footer .wrap .first .all_menu{
        padding: unset;
        border-bottom: unset;
    }
}   