*{margin: 0; padding: 0;background-repeat: no-repeat; box-sizing: border-box;}
ul, ol{list-style: none;}
a{text-decoration: none; color: inherit;}
img{display: block; max-width: 100%;}
button{background-color: transparent; border: none; cursor: pointer;}
input{background-color: transparent; border: none;}

.tab{display: none;}
.pc{display: none;}
.m{display: block;}

#wrapper{min-width: 320px; background-color: white;}

@font-face{
    font-family: "times";
    src: url(../font/TimesNewerRoman/TimesNewerRoman-Bold.otf) format("opentype");
    src: url(../font/TimesNewerRoman/TimesNewerRoman-BoldItalic.otf) format("opentype");
    src: url(../font/TimesNewerRoman/TimesNewerRoman-Italic.otf) format("opentype");
    src: url(../font/TimesNewerRoman/TimesNewerRoman-Regular.otf) format("opentype");
}

@font-face{
    font-family: "apple";
    src: url(../font/AppleSDGothicNeo/AppleSDGothicNeoB.ttf) format("truetype");
    src: url(../font/AppleSDGothicNeo/AppleSDGothicNeoEB.ttf) format("truetype");
    src: url(../font/AppleSDGothicNeo/AppleSDGothicNeoH.ttf) format("truetype");
    src: url(../font/AppleSDGothicNeo/AppleSDGothicNeoL.ttf) format("truetype");
    src: url(../font/AppleSDGothicNeo/AppleSDGothicNeoM.ttf) format("truetype");
}

header{background-color: white; width: 100%; position: fixed; left: 0; top: 0; z-index: 100;} 
header .wrap{
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
}
header .wrap h1 img{width: 160px;}
header .wrap .menu{
    display: flex;
    color: #535353;
    font-size: 18px;
    gap: 25px;
    font-family: "times";
    margin: 30px 0 0 40px;
}
header .wrap .menu li:hover{color: #c5875d;}
header .wrap .gnb{display: flex; gap: 20px; margin-left: auto; margin-top: 25px;}
header .wrap .gnb .con{}
header .wrap .gnb .con img{width: 30px;}

.banner{margin-top: 93px;}
.banner .wrap{
    width: 100%;
    height: 500px;
    position: relative;
    background-image: url(../images/Banner_m.jpg);
    background-size: cover;
    background-position: center center;
    padding: 105px 0;
    color: #282423;
}
@keyframes fadeInLeft{
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@keyframes fadeInRight{
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
.banner .wrap .phone1{position: absolute; top: -8%; right: 1%; z-index: 1; animation: fadeInRight 1s;}
.banner .wrap .phone1 img{width: 200px;}
.banner .wrap .phone2{position: absolute; bottom: -8%; left: 2%; z-index: 1; animation: fadeInLeft 1s;}
.banner .wrap .phone2 img{width: 200px;}
.banner .wrap .container{z-index: 5; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.banner .wrap .text{text-align: center; margin-bottom: 20px; white-space: nowrap; }
.banner .wrap .text h2{font-size: 45px; font-family: "times"; font-weight: 100;}
.banner .wrap .text h3{margin-bottom: 20px; font-size: 23px; font-family: "apple"; font-weight: 100;}
.banner .wrap .text p{margin-bottom: 14px; font-size: 16px; font-family: "apple"; font-weight: 100;}
.banner .wrap .text p span{font-weight: bold;}
.banner .wrap .qr{display: flex; flex-direction: column; gap: 10px; align-items: center; margin-bottom: 20px;}
.banner .wrap .qr .con{}
.banner .wrap .qr .con a{
    display: inline-block;
    padding: 10px 40px 10px 40px;
    background-color: white;
    border-radius: 100px;
}
.banner .wrap .qr .con a img{width: 100px; margin: 0 auto;}
.banner .wrap .qr .con a .code{display: none;}
.banner .wrap .guide{text-align: center; font-family: "apple"; font-weight: 100%; opacity: 50%; font-size: 14px;}


.funtion{}
.funtion .wrap{
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/Function_bg_m.jpg);
    background-size: cover;
    background-position: center center;
}
.funtion .wrap .title{color: #282423; text-align: center; margin-bottom: 40px;}
.funtion .wrap .title h3{font-size: 40px; font-family: "times"; font-weight: 100;}
.funtion .wrap .title p{font-size: 20px; font-family: "apple"; font-weight: 100;}
.funtion .wrap .con{}
.funtion .wrap .con .box{display: flex; gap: 20px; margin-bottom: 20px;}
.funtion .wrap .con .box:last-child{margin-bottom: 0;}
.funtion .wrap .con .box .img{}
.funtion .wrap .con .box .text{font-family: "apple";}
.funtion .wrap .con .box .tit{font-size: 20px; margin-bottom: 5px;}
.funtion .wrap .con .box .txt{font-size: 17px; color: #666;}

.infor{}
.infor .wrap{width: 100%;}
.infor .wrap .box{width: 100%; background-color: #fbf9f7;}
.infor .wrap .box:nth-child(even){background-color: #f4f1ed;}
.infor .wrap .box .img{width: 500px; margin: 0 auto;}
.infor .wrap .box:nth-child(3) .img{width: 400px; margin: 0 auto; padding-top: 50px;}
.infor .wrap .box:nth-child(4) .img{width: 500px; margin: 0 auto; padding-top: 50px;}
.infor .wrap .box .text{text-align: center; font-family: "apple"; padding: 50px 0;}
.infor .wrap .box .text .tit{margin-bottom: 20px;}
.infor .wrap .box .text .tit p{font-size: 20px; font-weight: 100; margin-bottom: 1;}
.infor .wrap .box .text .tit h4{font-size: 25px;}
.infor .wrap .box .keyword{display: flex; justify-content: center; gap: 10px; margin-bottom: 20px; font-size: 15px;}
.infor .wrap .box .keyword .con{background-color: #666; font-weight: 100; padding: 7px 13px; color: white; border-radius: 99px;} 
.infor .wrap .box .txt{font-size: 17px; line-height: 31px;}

.brand{}
.brand .wrap{width: 100%; background-color: #cba58d;}
.brand .wrap .img{width: 562px; margin: 0 auto;}

.review{width: 100%; background-color: #decdb5;}
.review .wrap{padding: 75px 0;}
.review .wrap .title{color: white; text-align: center; margin-bottom: 40px;}
.review .wrap .title h3{font-size: 40px; font-family: "times"; font-weight: 100;}
.review .wrap .title p{font-size: 20px; font-family: "apple"; font-weight: 100;}
.review .wrap .container{}
.review .wrap .container .box{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #f4efeb;
    font-family: "apple";
    padding: 25px 18px 25px 18px;
    font-size: 16px;
}
.review .wrap .container .box .tit{font-size: 18px; margin-bottom: 10px; color: #986c58;}
.review .wrap .container .box .content{margin-bottom: 30px; color: #3f3f3f; line-height: 25px;}
.review .wrap .container .box .link{margin-bottom: 30px; color: #c5875d;}
.review .wrap .container .box .link:hover{text-decoration: underline;}
.review .wrap .container .box .user{font-size: 14px; color: #7c746e;}

footer{width: 100%; background-color: white;}
footer .wrap{width: 90%; margin: 0 auto; padding: 75px 0; font-family: "apple"; color: #5e514d; font-weight: 100; font-size: 14px;}
footer .wrap .first{display: flex; flex-direction: column; margin-bottom: 40px;}
footer .wrap .first .customer{padding-bottom: 40px; order: 1;}
footer .wrap .first .customer .tit{font-weight: bold; margin-bottom: 10px;}
footer .wrap .first .customer .btn{}
footer .wrap .first .customer .btn .box{color: #c5875d;}
footer .wrap .first .customer .btn .box a{
    display: inline-block;
    padding: 10px 10px;
    border: 1px solid #c5875d;
    border-radius: 5px;
    margin-bottom: 15px;
}
footer .wrap .first .customer .notion{color: #83786f; line-height: 20px;}
footer .wrap .first .customer .notion a{color: #c5875d; font-weight: bold;}
footer .wrap .first .customer .notion a:hover{color: #83786f;}
footer .wrap .first .all_menu{display: flex; gap: 30px; white-space: nowrap; justify-content: space-between; order: 3;}
footer .wrap .first .all_menu .box{}
footer .wrap .first .all_menu .box .tit{font-weight: bold; margin-bottom: 10px;}
footer .wrap .first .all_menu .box ul{}
footer .wrap .first .all_menu .box ul li{margin-bottom: 10px;}
footer .wrap .first .alarm{order: 2;}
footer .wrap .first .alarm .tit{font-weight: bold; margin-bottom: 10px;}
footer .wrap .first .alarm ul{}
footer .wrap .first .alarm ul li{
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 230px;
}

footer .wrap .second{margin-bottom: 40px; color: #282423;}
footer .wrap .second ul{display: flex; gap: 15px; align-content:flex-start; flex-wrap:wrap; overflow:auto;}
footer .wrap .second ul li{white-space: nowrap;}
footer .wrap .second ul li:last-child{font-weight: bold;}

footer .wrap .third{}
footer .wrap .third .copy{margin-bottom: 20px; color: #978C87; line-height: 20px;}
footer .wrap .third .copy span{font-weight: bold;}
footer .wrap .third .copy a{color: #c5875d;}
footer .wrap .third .copy a:hover{color: #978C87;}
footer .wrap .third .sns{display: flex; gap: 20px;}
footer .wrap .third .sns .con{}
footer .wrap .third .sns .con img{width: 40px;}
footer .wrap .third .sns .con:first-child{display: flex; align-items: center;}
footer .wrap .third .sns .con:first-child img{width: 94px;}

/*mobile 밑줄*/
footer .wrap .first .customer{
    border-bottom: 1px solid #F4F1ED;
}
footer .wrap .first .alarm{
    padding: 40px 0 40px 0;
    border-bottom: 1px solid #F4F1ED;
}
footer .wrap .first .all_menu{
    padding: 40px 0 40px 0;
    border-bottom: 1px solid #F4F1ED;
}